<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanglumedia.cms.admin.dao.ResourceDao">
	<resultMap type="com.guanglumedia.cms.admin.entity.Resource" id="roleResourcesMap">
		<id property="id" column="id"></id>
		<result property="resourcename" column="resourcename"></result>
		<result property="parentId" column="parentid"></result>
		<result property="parentName" column="parentName"></result>
		<result property="action" column="action"></result>
		<result property="sort" column="sort"></result> 
		<result property="createtime" column="createtime"></result>
		<result property="resourcedesc" column="resourcedesc"></result>
	</resultMap>
	<select id='getAllParents' resultMap='roleResourcesMap'>
		SELECT * FROM cms_resource where parentid='0'
	</select>
	<select id='findAllResourceList' resultMap='roleResourcesMap'>
		SELECT * FROM cms_resource
	</select>
	<select id="findResourByRoleId" resultMap="roleResourcesMap">
		SELECT * FROM cms_resource r WHERE r.id NOT IN (SELECT t.resourceid FROM cms_role_resource t WHERE t.roleid = 1) AND r.status = '1'
	</select>
	<select id="findResourcesByGroupID" resultMap="roleResourcesMap">
				SELECT DISTINCT t.id AS id, t.resourcename, t.parentid, t.action, t.sort
		FROM cms_resource t
			LEFT OUTER JOIN cms_role_resource qr ON qr.resourceid= t.id
		WHERE t.status='1' AND qr.roleid IN 
		(SELECT roleid FROM cms_group_role cgr WHERE cgr.groupid=#{groupid})
	</select>
	<select id="findResourceList" resultMap="roleResourcesMap">
		SELECT * from cms_resource
		<where>
			1=1 
			<if test="resourcename != null and resourcename !=''">
				and resourcename like CONCAT('%', #{resourcename},'%')
			</if>
			<if test="resourcedesc != null and resourcedesc !=''">
				and resourcedesc like CONCAT('%', #{resourcedesc},'%')
			</if>
			<if test="action != null and action !=''">
				and action like CONCAT('%', #{action},'%')
			</if>
		</where>
	</select>
	<select id="findCount" resultType="int">
		select FOUND_ROWS()
	</select>
	<select id="getResourceById" resultMap="roleResourcesMap">
		SELECT cg.status,cg.sort,cg.id,cg.resourcename,DATE_FORMAT(cg.createtime, '%Y-%m-%d %T') AS createtime,cg.resourcedesc,cg.action,cg.parentid,cx.resourcename AS parentname
		FROM cms_resource cg LEFT JOIN cms_resource cx ON cg.parentid =cx.id
		where cg.id=#{id}
	</select>
	
	<insert id='addResource' parameterType="com.guanglumedia.cms.admin.entity.Resource">
		insert into cms_resource (resourcename,resourcedesc,status,action,createtime,parentid) values (
		#{resourcename},#{resourcedesc},#{status},#{action},now(),#{parentId}
		)
	</insert>
	<update id='updateResource' parameterType="com.guanglumedia.cms.admin.entity.Resource">
		update cms_resource 
		<set>
			<if test="resourcename != null and resourcename !=''">
				resourcename=#{resourcename,jdbcType=VARCHAR},
			</if>
			<if test="resourcedesc != null and resourcedesc !=''">
				resourcedesc=#{resourcedesc,jdbcType=VARCHAR},
			</if>
			<if test="action != null and action !=''">
				action=#{action,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null and parentId !=''">
				parentId=#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="status != null and status !=''">
				status=#{status,jdbcType=VARCHAR},
			</if>
			<if test="sort != null and sort !=''">
                sort=#{sort,jdbcType=VARCHAR},
            </if>
		</set>
		<where>
			id=#{resourceId}
		</where>
	</update>
	<delete id="delResource" parameterType="String">
		delete from cms_resource where id=#{id}
	</delete>
	<select id="hasResourceName" resultType="int">
		SELECT count(*) FROM cms_resource  where resourcename=#{resourcename} 
		<if test="id!=0">
			and id !=#{id}
		</if>
	</select>
</mapper>	