<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanglumedia.cms.movie.dao.PublishDao">
	<resultMap id="PublishMap" type="com.guanglumedia.cms.movie.entity.Publish" >
		<result property="id" column="id"></result>
		<result property="videoid" column="videoid"></result>
		<result property="videoname" column="videoname"></result>
		<result property="videotype" column="videotype"></result>
		<result property="status" column="status"></result>
		<result property="url" column="url"></result>
		<result property="live" column="live"></result>
		<result property="filetype" column="filetype"></result>
		<result property="actiontime" column="actiontime"></result>
		
		<result property="Identify" column="identify"></result>
		<result property="VodID" column="vodid"></result>
		<result property="MediaID" column="mediaid"></result>
		<result property="Mins" column="mins"></result>
		<result property="Rank" column="rank"></result>
		<result property="Price" column="price"></result>
		<result property="Director" column="director"></result>
		<result property="Actor" column="actor"></result>
		<result property="Intro" column="intro"></result>
		<result property="Score" column="score"></result>
		<result property="productname" column="productname"></result>
	</resultMap>
	<select id="findPublishList" resultMap="PublishMap">
		SELECT  SQL_CALC_FOUND_ROWS m.id,m.videoid,m.videotype,m.url,m.live,m.filetype,m.actiontime,IF(m.videotype=0,p.name,mv.name ) AS videoname,
				IF(m.videotype=0,p.identify,mv.identify ) AS identify,
				IF(m.videotype=0,p.vodid,mv.identify ) AS vodid,
				IF(m.videotype=0,p.MediaID,mv.MediaID ) AS MediaID,
				IF(m.videotype=0,'',mv.Mins ) AS identify,
				IF(m.videotype=0,p.Rank,mv.Rank ) AS Rank,
				IF(m.videotype=0,'',mv.Price ) AS Price,
				IF(m.videotype=0,p.Director,mv.Director ) AS Director,
				IF(m.videotype=0,p.Actors,mv.Actor ) AS Actor,
				IF(m.videotype=0,'',mv.Intro ) AS Intro,
				IF(m.videotype=0,'',mv.Score ) AS Score,
				IF(m.videotype=0,'',pdm.name ) AS productname,
				IF(m.videotype=0,p.status,mv.status ) AS status
		FROM Inject m 
				LEFT JOIN preview p ON m.videoid = p.id 
				LEFT JOIN movie mv ON m.videoid = mv.id
				LEFT JOIN product pdm ON pdm.vodid = mv.vodid
		<where>
			<!--  m.status=1 -->
			<if test="videoid != null and videoid !=''">
				and m.videoid like CONCAT('%', #{videoid},'%')
			</if>
			<if test="videoname != null and videoname !=''">
                and (mv.Name like CONCAT('%', #{videoname},'%') or p.name like CONCAT('%', #{videoname},'%'))
            </if>
			<if test="url != null and url !=''">
				and m.url like CONCAT('%', #{url},'%')
			</if>
			<if test="status != null and status !=''">
				and (p.status = #{status} or mv.status= #{status})
			</if>
			<if test="videotype != null and videotype !=''">
				and m.videotype  = #{videotype}
			</if>
			<if test="live != null and live !=''">
				and m.live  = #{live}
			</if>
			<if test="filetype != null and filetype !=''">
				and m.filetype  like CONCAT('%',  #{filetype},'%')
			</if>
			<if test="actiontime != null and actiontime !=''">
				and m.actiontime  = #{actiontime}
			</if>
		</where>
		order by m.videotype desc,status desc,Rank
	</select>
	<select id="findCount" resultType="int">
			select FOUND_ROWS()
	</select>
	
	<select id="getPublishById" resultMap="PublishMap">
		SELECT m.id,m.videoid,m.videotype,m.url,m.live,m.filetype,m.actiontime,IF(m.videotype=0,p.name,mv.name ) AS videoname,
				IF(m.videotype=0,p.identify,mv.identify ) AS identify,
				IF(m.videotype=0,p.vodid,mv.identify ) AS vodid,
				IF(m.videotype=0,p.MediaID,mv.MediaID ) AS MediaID,
				IF(m.videotype=0,'',mv.Mins ) AS identify,
				IF(m.videotype=0,p.Rank,mv.Rank ) AS Rank,
				IF(m.videotype=0,'',mv.Price ) AS Price,
				IF(m.videotype=0,p.Director,mv.Director ) AS Director,
				IF(m.videotype=0,p.Actors,mv.Actor ) AS Actor,
				IF(m.videotype=0,'',mv.Intro ) AS Intro,
				IF(m.videotype=0,'',mv.Score ) AS Score,
				IF(m.videotype=0,'',pdm.name ) AS productname,
				IF(m.videotype=0,p.status,mv.status ) AS status
		FROM Inject m 
				LEFT JOIN preview p ON m.videoid = p.id 
				LEFT JOIN movie mv ON m.videoid = mv.id
				LEFT JOIN product pdm ON pdm.vodid = mv.vodid
		where m.id=#{id}
	</select>
	
	<!-- <delete id="delPublishByMovieId" parameterType="int">
		delete Publish
	</delete> -->
</mapper>	